td{
    border : 1px solid rgb(163, 163, 163);
    padding : 3px;
}

.headerListSubject{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;

    &__filterPia{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 2px 2px 5px 5px rgb(197, 197, 197);
        &__label{
            margin-right: 10px;
            border-radius: 5px;
        }
        &__input{
            width : 50px;
            border: none;
            padding: 5px;
            border-radius: 5px;
        }
    }
}
